

.titleRed{
    border:solid 1px black;
    max-width:  100vw;
    color: red;
    text-decoration:underline;
    font-style: italic;

}

.video-js{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;}
    



.video-js .vjs-big-play-button{
    background-color: blue;
}

.imagee{
    height: 240px;
    width: 320px;
    border-radius: 10px;
}
